* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.nav-anchors {
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.custom-button {
  display: flex;
  margin: auto;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 200ms;
}

.custom-button:hover {
  background-color: gray;
  transition: background-color 400ms;
}

.custom-button:active {
  transform: scale(0.95);
}

.custom-input {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
  text-indent: 10px;
  border: none;
}

select {
  outline: none;
  text-indent: 0px !important;
}
